/* Default mobile styles */
.flipkart-menu-wrapper {
  background-color: #fff;
  border-bottom: 1px solid #000;
  padding: 20px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: auto;
}

.flipkart-menu1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px 8px;
  cursor: pointer;
}

.menu-item:hover {
  transform: translateY(-3px);
}

.menu-item img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.menu-item span {
  font-size: 14px;
  color: #212121;
  font-weight: 500;
  margin-top: 6px;
  white-space: nowrap;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .flipkart-menu-wrapper {
    background-color: red;
  }
  .menu-item {
    flex: 1 1 48%; // 2 per row on small devices
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .flipkart-menu-wrapper {
    // background-color: green;
  }
  .menu-item {
    flex: 1 1 30%; // 3 per row on tablets
  }
}

@media (min-width: 992px) {
  .flipkart-menu-wrapper {
    background-color: brown;
  }
  .menu-item {
    flex: 1 1 20%; // 5 per row on large screens
  }
}
